body {
	margin: 0;
	background-color: #222;
	color: white;
	font-family: sans;
	text-align: center;
  height: 100vh;
}

div {
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
  gap: 10px;
  height: calc(100% - 160px);
}

.logo {
	position: absolute;
	width: 150px;
	top: 0;
	left: 50px;
}

a {
	display: inline-block;
	color: white;
	background-color: #333;
	text-decoration: none;
	padding: 50px 75px;
	margin: 40px;
	border: 1px solid red;
	border-radius: 25px;
}

a:hover {
	background-color: #555;
}

header {
  height: 40px;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 40px;
}

span {
  text-align: center;
  color: white;
  font-size: 30px;
}

.feather {
	display: block;
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
	stroke: white;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
