<!DOCTYPE html>
<html lang=en>
	<head>
		<meta http-equiv=content-type content="text/html; charset=utf-8" />
		<title>virtUOS 💕 BBB</title>

		<link type=text/css rel=stylesheet href={{ url_for('static', filename='style.css') }} />
	</head>
	<body>

		<img class=logo src="https://avatars.githubusercontent.com/u/37844?s=200&v=4" />

		<header>
      Hier steht ein Meeting Name
    </header>

    <div>
      <a href=/whiteboard>
        <span>Meeting beitreten</span>
      </a>
    </div>


	</body>
</html>
