<!DOCTYPE html>
<html lang=en>
	<head>
		<meta http-equiv=content-type content="text/html; charset=utf-8" />
		<title>virtUOS 💕 BBB</title>

		<link type=text/css rel=stylesheet href={{ url_for('static', filename='style.css') }} />
		<script src="https://unpkg.com/feather-icons"></script>
	</head>
	<body>

		<img src="https://avatars.githubusercontent.com/u/37844?s=200&v=4" />

		<div>

		<a href=#/camera>
			<i data-feather="video"></i>
			Camera
		</a>
		<a href=/whiteboard>
			<i data-feather="airplay"></i>
			Whiteboard
		</a>

		</div>

		<script>
			feather.replace()
		</script>

	</body>
</html>
