<!DOCTYPE html>
<html lang=en>
	<head>
		<meta http-equiv=content-type content="text/html; charset=utf-8" />
		<title>virtUOS 💕 BBB</title>

		<link type=text/css rel=stylesheet href={{ url_for('static', filename='style.css') }} />
	</head>
	<body>

		<img class=logo src="https://avatars.githubusercontent.com/u/37844?s=200&v=4" />

    <header>
      Willkommen!
    </header>

    <div>
      <span>
        Warte auf Beginn des nächsten Meetings...
      </span>
      <span>      </span>
      <span>
        Oder schedule jetzt ein Meeting!
      </span>
      <span href=/join>
        <img src="/static/qrcode.png" />
      </span>
    </div>

	</body>
</html>
